.right-pane {
    width: 30vw;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    top: 0;
    bottom: 0;

    .pic-container {

        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;

        .pic {

            object-fit: fill;
            border-radius: 50%;
            border: 5px solid;
            border-color: black;
            width: 20rem;
            height: 20rem;
        }
    }


}