.content {
    display: flex;
    height: 72vh;
    padding: 0;
    margin: 0;
}

.left-pane {
    display: flex;
    width: 70vw;
    color: white;

    flex-direction: column;
    background-color: blue;
}


.right-pane {
    width: 30vw;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    top: 0;
    bottom: 0;

    .pic-container {
        
        display: flex;
        justify-content: center;
        align-items: center;

        .pic {
            object-fit: cover;
            border-radius: 50%;
            border: 5px solid red;
            width: 20rem;
            height: 20rem;
        }
    }


}